input[type="radio"] {
  margin-right: 5px;
}
.button.is-purple {
  background-color: #701262;
  border-color: transparent;
  color: #fff;
}
.button.is-purple:hover {
  background-color: #851873;
  border-color: transparent;
  color: #fff;
}
.container.auth {
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}
