/* GENERAL */
main {
  /* padding: 15px 0 30px; */
}
/* FORM */
input[type="radio"] {
  margin-right: 5px;
}
.navbar-item img {
  max-height: 3.5rem;
}
a.navbar-item,
.navbar-link {
  cursor: pointer;
  color: #701262;
}
/* BUTTONS */
.button.is-purple {
  background-color: #701262;
  border-color: transparent;
  color: #fff;
}
.button.is-purple:hover {
  background-color: #851873;
  border-color: transparent;
  color: #fff;
}
/* LOGIN / SIGNUP */
.container.auth {
  max-width: 400px !important;
}
.auth h2 {
  text-align: center;
}
.auth .button {
  margin: 20px auto 0;
  display: inherit;
}
.auth .check-user-type {
  margin-bottom: 20px;
}
/* FOOTER */
footer {
  padding: 20px;
  background-color: #677388;
  color: #f9f9f9;
  margin-bottom: 0;
}
footer ul {
  list-style: none;
}
footer .columns .column:last-of-type {
  text-align: right;
}

@media screen and (min-width: 769px) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 180px;
  }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  footer .columns .column:first-of-type {
    padding-bottom: 0;
    text-align: center;
  }
  footer .columns .column:last-of-type {
    text-align: center;
    padding-top: 0;
  }
}
