.dashboard-wrapper {
  display: flex;
  flex-flow: column;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 60px !important;
}
.dashboard-wrapper .align-button-to-right {
  display: flex;
  justify-content: flex-end;
}
.dashboard-wrapper .align-button-between {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.dashboard-wrapper .menu {
  margin-bottom: 0;
}
.dashboard-wrapper .menu.tabs ul {
  border: none;
}
.dashboard-wrapper .menu ul {
  list-style: none;
  padding-top: 10px;
}
.dashboard-wrapper .menu li {
  cursor: pointer;
  padding: 18px 30px;
}
.dashboard-wrapper .menu li {
  background-color: rgba(238, 132, 109, 0.2);
  color: #ee846d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 4px -2px 15px -4px rgba(0, 0, 0, 0.08);
}
.dashboard-wrapper .menu li.active {
  background-color: rgba(233, 233, 233, 0.2);
  color: #701262;
}
.dashboard-wrapper .dashboard-content {
  min-height: 300px;
  background-color: rgba(233, 233, 233, 0.2);
  padding: 20px;
  box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.setting-tags ul {
  display: flex;
}
.setting-tags ul li {
  margin-right: 10px;
}
.general {
  text-align: center;
}
.general figure {
  margin: 30px auto;
}
.general img {
  border: 3px solid #701262;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.general h3 {
  padding-bottom: 60px;
}
.settings .row {
  display: flex;
  padding: 5px;
}
.settings .row .cell-title {
  width: 30%;
  min-width: 200px;
  color: #701262;
  font-weight: bold;
}
.settings .row .cell-desc {
  width: 70%;
}
.settings button.change-settings {
  margin-top: 20px;
}
.settings .title.is-3 {
  color: #701262;
}
.settings fieldset.name {
  display: flex;
}
.settings fieldset.name .field {
  width: 50%;
}
.settings fieldset.name .field:first-of-type {
  margin-right: 10px;
}
.settings fieldset.address {
  display: flex;
  flex-wrap: wrap;
}
.settings fieldset.address .field:nth-of-type(1) {
  width: calc(80% - 10px);
  margin-right: 10px;
}
.settings fieldset.address .field:nth-of-type(2) {
  width: 20%;
}
.settings fieldset.address .field:nth-of-type(3) {
  width: calc(30% - 10px);
  margin-right: 10px;
}
.settings fieldset.address .field:nth-of-type(4) {
  width: calc(30% - 10px);
  margin-right: 10px;
}
.settings fieldset.address .field:nth-of-type(5) {
  width: 40%;
}
.settings .select select.specialization {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #701262;
}
.dropdowns-setting {
  display: flex;
}
.dropdowns-setting > div:first-of-type {
  margin-right: 20px;
}
.change-setting-message {
  font-style: italic;
  margin-top: 20px;
}
.tag.is-purple {
  background-color: #701262;
  color: #fff;
}
.favorites {
  text-align: center;
}
.favorites .title {
  color: #701262;
}
.bookings-vendor .title {
  color: #701262;
}
.bookings-vendor .booking-item {
  display: flex;
  margin-bottom: 20px;
}
.bookings-vendor .booking-item-title {
  width: 40%;
}
.bookings-vendor .booking-item-customer {
  width: 40%;
}
.services-vendor .title {
  color: #701262;
  margin-bottom: 0.5rem;
}
.services-vendor .service-item {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px 25px;
  margin-bottom: 20px;
}
.services-vendor .service-item .row {
  display: flex;
}
.services-vendor .service-item .col:nth-of-type(1) {
  width: 30%;
  min-width: 200px;
  color: #701262;
  font-weight: bold;
}
.services-vendor .service-item .col:nth-of-type(2) {
  width: 70%;
}
.services-vendor .service-item button {
  margin-right: 0;
  margin-left: auto;
}
.bookings-owner .title {
  color: #701262;
  margin-bottom: 0.5rem;
}

.bookings-owner .booking-item {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px 25px;
  margin-bottom: 20px;
}
.bookings-owner .booking-item .row {
  display: flex;
}
.bookings-owner .booking-item .col:nth-of-type(1) {
  width: 30%;
  min-width: 200px;
  color: #701262;
  font-weight: bold;
}
.bookings-owner .booking-item .col:nth-of-type(2) {
  width: 70%;
}
.bookings-owner .booking-item .col.dates span:last-of-type {
  display: none;
}
.pw-change {
  width: 100%;
}
.pw-change .row {
  display: flex;
  justify-content: flex-end;
}
.pw-change .col:nth-of-type(1) {
  width: 30%;
  min-width: 200px;
  color: #701262;
  font-weight: bold;
}
.pw-change .col:nth-of-type(2) {
  width: 50%;
}
