.dashboard-wrapper {
  display: flex;
}
.dashboard-wrapper aside {
  width: 200px;
  background-color: bisque;
}
.dashboard-wrapper aside ul {
  list-style: none;
}
.dashboard-wrapper aside li {
  cursor: pointer;
  padding: 15px 10px;
}
.dashboard-wrapper aside li.active {
  background-color: aquamarine;
}
.dashboard-wrapper .dashboard-content {
  padding: 20px;
}
.setting-tags ul {
  display: flex;
}
.setting-tags ul li {
  margin: 0 10px;
}
