.hero {
  height: 80vh;
  background-image: url("https://res.cloudinary.com/cloud-michelle/image/upload/v1621517113/pawly/BG_Illustration_1_vy5ara.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hero.is-fullheight-with-navbar .hero-body {
  width: 100%;
  padding-top: 100px;
  align-items: flex-start;
  justify-content: center;
}
.hero .title {
  width: 70%;
  max-width: 500px;
  color: #ffba33;
  padding: 0 50px;
}
.hero .search-box {
  width: 30%;
  max-width: 300px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
  color: #701262;
}
.hero .search-box .label,
.hero .search-box .control {
  color: #701262;
}
.hero .search-box .select select,
.hero .search-box .is-link.input {
  color: #701262;
  border: 1px solid #701262;
}
.hero .search-box .checkbox:hover,
.hero .search-box .radio:hover {
  color: #701262;
}
.bold-statement {
  margin-top: 50px;
  background-color: #701262;
  padding: 90px 0 100px;
  text-align: center;
}
.bold-statement .title.is-1 {
  color: #fff;
  line-height: 4rem;
}
.steps {
  padding: 70px 0;
}
.steps .is-2 {
  color: #701262;
  margin-bottom: 40px;
}
.steps .is-4 {
  margin-bottom: 10px;
}
.steps .column {
  max-width: 250px;
  text-align: center;
}
.steps img {
  max-width: 100%;
  max-height: 170px;
  object-fit: contain;
  margin-bottom: 30px;
}
.service-statement {
  padding: 40px 0;
  background-color: #2c2931;
}
.service-statement h2,
.service-statement h4 {
  color: #ee846d;
}
.service-statement p {
  text-align: center;
  color: #f9f9f9;
  padding: 0 20px;
}
.join {
  padding: 40px 0;
  height: 100%;
  background: linear-gradient(90deg, #ffffff 50%, #ffba33 50%);
}
.join .column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.join .column p {
  margin-bottom: 10px;
}
.join .button.owner-signup {
  background-color: #ffba33;
}

@media screen and (max-width: 768px) {
  .join {
    background: #ffba33;
  }
  .join .button.owner-signup {
    background-color: #fff;
  }
}
@media screen and (min-width: 769px) {
  .columns:not(.is-desktop) {
    justify-content: space-between;
  }
}
