.specialisation-tags {
  list-style: none;
  display: flex;
}
.specialisation-tags li {
  margin-right: 10px;
}
input[type="radio"] {
  margin-right: 5px;
}
.search-page {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  width: 30%;
  max-width: 300px;
}
/* ALL SEARCH RESULTS */
.search-results {
  width: 70%;
  padding: 20px 0;
}
.search-results .card {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.search-results .card .card-header {
  display: flex;
  justify-content: space-between;
}
.search-results .card .card-header-title:first-of-type {
  max-width: 80%;
}
.search-results .card .card-header .like {
  padding: 0.75rem 1rem;
  width: 60px;
  height: 100%;
  text-align: right;
}
.like .icon {
  background-image: url("https://res.cloudinary.com/cloud-michelle/image/upload/v1621511255/pawly/heart-full_vs5urn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.search-results .card-image {
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.search-results .card-description {
  width: 60%;
}
.search-results .service-overview {
  margin-top: 20px;
}
.search-results .service-package {
  display: flex;
  justify-content: space-between;
}

/* SINGLE SEARCH RESULT */
.single-result .vendor-info {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.single-result .vendor-info .vendor-image {
  width: 20%;
  height: 100%;
}
.single-result .vendor-info img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}
.single-result .vendor-info .vendor-description {
  width: 80%;
  padding: 0 20px;
}
.single-result .vendor-info .like {
  display: inline-block;
  padding: 0.75rem 1rem;
  width: 80px;
}
.single-result .service-info {
  margin: 50px 0;
}
.single-result .service-info .row {
  display: flex;
}
.single-result .row.rating-item {
  margin: 20px 0;
  max-width: 600px;
}
.single-result .service-info .row .cell {
  width: 25%;
  flex-grow: 1;
}
.single-result .rating-item {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px 25px;
  margin-bottom: 30px;
}
.single-result .rating-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}
.single-result .rating-item li span {
  color: #701262;
}
.star-wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.star-rating {
  display: flex;
  align-items: center;
}
.rating-num {
  margin-left: 7px;
}
.star-rating span.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background-repeat: no-repeat;
  background-size: contain;
}
.star-rating span.star.empty {
  background-image: url("https://res.cloudinary.com/cloud-michelle/image/upload/v1621511255/pawly/star-empty_rtmqrc.png");
}
.star-rating span.star.checked {
  background-image: url("https://res.cloudinary.com/cloud-michelle/image/upload/v1621511255/pawly/star-full_gp5jit.png");
}

@media screen and (max-width: 768px) {
  .search-page {
    flex-flow: column;
    justify-content: center;
    /* justify-content: space-between; */
  }
  .search-bar {
    width: 100%;
    max-width: 500px;
  }
  /* ALL SEARCH RESULTS */
  .search-results {
    width: 100%;
  }
}
